@(username: String, pomodoro: String, break: String)(implicit request: Request[AnyContent])

@main(username + "のポモドーロ") {

    <div id="status"></div>

    <script type="text/javascript" charset="utf-8">

        $(function() {

            if (typeof webkitNotifications !== 'undefined') {
                if (webkitNotifications.checkPermission() !== 0) {
                    var $enableNotificationButton = $('<button id="enable-notification">デスクトップ通知をオンにする</button>');
                    $("#status").prepend($enableNotificationButton);
                    $enableNotificationButton.click(function(){
                        webkitNotifications.requestPermission(function() {
                            if (webkitNotification.checkPermission() === 0) {
                                $enableNotificationButton.text('デスクトップ通知がオンです').disable();
                            }
                        });
                    });
                }
            } else {
                $('#status').prepend('<p>Google Chromeでアクセスするとデスクトップ通知が利用できます！</p>');
            }

            var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket;
            var sock = new WS("@controllers.routes.Application.watch(username, pomodoro, break).webSocketURL()");

            var lastData;
            sock.onmessage = function(event) {
                $('#status').text(event.data + ' (最終更新日時:' + new Date() + ')');
                if (lastData != event.data && event.data == '休憩中' && webkitNotifications.checkPermission() == 0) {
                    webkitNotifications.createNotification(undefined, 'みんなのポモドーロ', event.data).show();
                }
                lastData = event.data;
            };
        });

    </script>

}
