@(username: String)(implicit request: Request[AnyContent])

@main("Pomodoro") {

    <div id="status"></div>

    <script type="text/javascript" charset="utf-8">

        $(function() {
            var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket;
            var sock = new WS("@controllers.routes.Application.watch(username).webSocketURL()");

            sock.onmessage = function(event) {
                $('#status').text(event.data + " (最終更新日時:" + new Date() + ")");
            };
        });

    </script>

}